# ==========================================
# 1. .NET / Visual Studio / Rider
# ==========================================
bin/
obj/
out/
.vs/
.user/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vshost.*
*.vshost.*.manifest
*.clr
*.patch

# Секреты и локальные настройки (тотальный бан на слив ключей)
appsettings.Development.json
appsettings.Local.json
appsettings.json.user
secrets.json
.microsoft.dotnet.secret-manager.id.txt

# Локальное хранилище медиа (не пушим тестовые фотки и аватарки в репу!)
**/wwwroot/uploads/
**/wwwroot/user-photos/

# ==========================================
# 2. Angular / Node.js
# ==========================================
node_modules/
.angular/
dist/
.nx/

# Логи и кэш npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.eslintcache

# ==========================================
# 3. IDE / Editors
# ==========================================
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.suo
*.ntvs*
*.njsproj

# ==========================================
# 4. OS Junk
# ==========================================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini