<div class="modal-backdrop" (click)="close()">
  <div class="modal-window" (click)="$event.stopPropagation()">
    
    @if (!isSuccessScreen()) {
      <header>
        <h3>{{ 'EVENT_MODAL.TITLE_CREATE' | translate }}</h3>
        <button class="close-x" (click)="close()">×</button>
      </header>

      <app-event-form
        [isEditMode]="false"
        [categoriesList]="categoriesList()"
        [isSubmitting]="isSubmitting()"
        [isUploadingPhoto]="isUploadingPhoto()"
        (formSubmit)="onCreateSubmit($event)"
        (cancel)="close()">
      </app-event-form>
    } @else {
      <header>
        <h3>{{ 'EVENT_MODAL.SUCCESS_TITLE' | translate }}</h3>
        <button class="close-x" (click)="close()">×</button>
      </header>
      
      <div class="vip-upsell-body">
        <p class="success-desc">
          {{ 'EVENT_MODAL.SUCCESS_DESC' | translate }}
        </p>
        <div class="vip-promo-box">
          <h4 class="promo-title">{{ 'EVENT_MODAL.VIP_PROMO_TITLE' | translate }}</h4>
          <p class="promo-desc" [innerHTML]="'EVENT_MODAL.VIP_PROMO_DESC' | translate"></p>
        </div>
        
        <div class="actions">
          <button type="button" class="btn-secondary" (click)="finishWithoutVip()">{{ 'EVENT_MODAL.KEEP_NORMAL_BTN' | translate }}</button>
          <button type="button" class="btn-vip-pay" (click)="buyVip()">
            {{ 'EVENT_MODAL.PAY_VIP_BTN' | translate }}
          </button>
        </div>
      </div>
    }

  </div>
</div>