<div class="global-vip-zone">
  <div class="sub-header-container">
    
    <div class="left-widget">
      <div class="rotation-container">
        @if (authService.currentUser$ | async; as user) {
          @if (user.role === 'Organizer') {
            @if (currentSlideIndex() === 0) {
              <div class="slide-item">{{ 'HEADER_WIDGET.ORG_SLIDE_1' | translate }}</div>
            } @else {
              <div class="slide-item">{{ 'HEADER_WIDGET.ORG_SLIDE_2' | translate }}</div>
            }
          }
          
          @if (user.role !== 'Organizer') {
            @if (currentSlideIndex() === 0) {
              <div class="slide-item">{{ 'HEADER_WIDGET.USER_SLIDE_1' | translate }}</div>
            } @else {
              <div class="slide-item">{{ 'HEADER_WIDGET.USER_SLIDE_2' | translate }}</div>
            }
          }
        } @else {
          @if (currentSlideIndex() === 0) {
            <div class="slide-item">{{ 'HEADER_WIDGET.GUEST_SLIDE_1' | translate }}</div>
          } @else {
            <div class="slide-item">{{ 'HEADER_WIDGET.GUEST_SLIDE_2' | translate }}</div>
          }
        }
      </div>
    </div>

    <div class="center-carousel">
      <app-vip-carousel></app-vip-carousel>
    </div>

    <div class="right-widget">
      <div class="right-combined-box">
        
        <div class="filter-top-row">
          <div class="sort-controls-box">
            <button 
              type="button"
              class="btn-outline" 
              [class.active]="currentSort === 'date'"
              (click)="changeSort('date')">
              {{ 'EVENT_LIST.SORT_BY_DATE' | translate }}
            </button>
            <button 
              type="button"
              class="btn-outline" 
              [class.active]="currentSort === 'location'"
              (click)="changeSort('location')">
              {{ 'EVENT_LIST.SORT_BY_LOCATION' | translate }}
            </button>
          </div>

          <select 
            class="custom-select" 
            [(ngModel)]="selectedCategoryId" 
            (change)="onCategoryChange()">
            <option value="">{{ 'EVENT_MODAL.FIELD_CAT_PLACEHOLDER' | translate }}</option>
            @for (cat of categoriesList; track cat.id) {
              <option [value]="cat.id">{{ cat.name }}</option>
            }
          </select>
        </div>

        <input 
          type="text" 
          class="custom-input" 
          [(ngModel)]="searchLocationQuery" 
          (input)="onLocationChange()"
          [placeholder]="'EVENT_MODAL.LOC_NAME_PLACEHOLDER' | translate" />

        <div class="legend-row">
          <span class="badge today">{{ 'EVENT_LIST.TAB_TODAY' | translate }}</span>
          <span class="badge weekend">{{ 'EVENT_LIST.TAB_THREE_DAYS' | translate }}</span>
          <span class="badge week">{{ 'EVENT_LIST.TAB_WEEK' | translate }}</span>
          <span class="badge later">{{ 'ADMIN_PERFORMERS.TAB_ALL' | translate }}</span>
        </div>

      </div>
    </div>

  </div>
</div>